body {
  width: var(--body-width, 50%);
  margin: var(--body-mt, 70px) auto;
  font-family: Verdana,sans-serif;
  font-size: var(--body-font-size, 100%);
  color: var(--body-color, #000);
  background-color: var(--body-bg-color, #fff);
}
.row {
  color: transparent;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
div {
  margin-bottom:30px;
}
.row__col {
  padding: 1em 1em;
  flex: 1 1 0;
  max-width: 100%;
}
h1 {
  font-size: var(--h1-font-size, 40px);
  text-align:center;
}
.right-img {
  float:right;
  height: 200px;
  width: 450px;
  shape-outside: polygon(451px 101px, 470px 64px, 470px 40px, 460px 23px, 411px 4px, 376px -2px, 289px -3px, 219px 4px, 200px -4px, 141px 0px, 77px 10px, 15px 52px, 4px 86px, 5px 132px, -1px 150px, -13px 161px, -16px 180px, -17px 209px, 8px 225px, 60px 215px, 71px 191px, 107px 169px, 125px 169px, 149px 158px, 182px 157px, 178px 173px, 220px 184px, 250px 195px, 302px 211px, 407px 204px, 445px 185px, 474px 172px, 477px 151px, 476px 114px)
}
.left-img {
  float: left;
  shape-outside: polygon(156px 327px, 196px 337px, 263px 329px, 304px 318px, 351px 285px, 379px 242px, 400px 193px, 406px 179px, 431px 168px, 433px 149px, 418px 146px, 385px 154px, 380px 129px, 362px 95px, 332px 73px, 305px 33px, 270px 14px, 246px 4px, 199px -1px, 150px 3px, 107px 18px, 63px 48px, 45px 80px, 22px 102px, 1px 113px, -6px 138px, 2px 165px, 4px 184px, 13px 225px, 27px 256px, 42px 271px, 76px 303px);
}
button {
  background-color: var(--body-color, #eee);
  color: var(--body-bg-color, #eee);
  border: 0;
  padding: 20px 50px;
  font-size: 20px;
  border-radius: 23px;
  cursor: pointer;

}

img {
  filter: var(--img-filter, none);
}

@media (max-width: 768px){
 :root {
   --body-font-size: 1.2rem;
   --body-width: 90%;
   --body-mt: 30px;
 }
}